
@using System.Net
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Html;

@model List<Index2Model>

@{

    //COGER DATOS DE UN FORMULARIO, NO PONER PAGE ARRIBA PARA QUE DEVUELVA EL MODELO

    Index2Model   listaType2;

    var oDocBLL2 = new core_mvc.Controllers.HomeController();

    listaType2 = Model.First();

    string accion = listaType2.accion;


    int found = 0;
    found = accion.IndexOf("accion=");
    if (found > 0)
    {
        accion = accion.Substring(found + 7);
    }

    if (accion == "1")
    {
        //Response.Redirect("~/index2.vbhtml");
    }
    else
    {
        //Response.Redirect("~/index.vbhtml");
        accion = "0";
    }


    string textoJason = "33";



        //para llamar a librerias vb
        // no puede llamar a json pero si a otras    var oDocBLL = new CEticoLib.BLL.cEtico();

    // textoJason = oDocBLL.JsonSerializer(textoJason);



    //    HttpWebRequest request = (HttpWebRequest)WebRequest.Create(@"http://weathers.co/api.php?city=Madrid");



    //var employees = new JsonResult(listaType2);


    //        For Each item In Model
    //    Dim aaaa As String
    //    aaaa = item.dni

    //Next





    //Dim accion As String
    //Dim donaldduck As String

    //donaldduck = Request.Form("donaldduck")
    //accion = Request.Form("accion")





    //Dim FUN = New HomeController

    //If accion = "1" Then
    //    listaType2 = DAL.SQLPrueba()

    //    Response.Redirect("~/index.vbhtml", True)

    //Else
    //    listaType2 = DAL.SQLPrueba()
    //End If
    //accion = "0"





    //'textoJason = DAL.JsonSerializer(Model)
    //textoJason = FUN.JsonSerializer(listaType2)



        }


        <form id="ninja" runat="server" class="dx-viewport" method="POST" action="~/Home/Index">

            <input id="donaldduck" type="hidden" name="donaldduck" value="a">
            <input id="campo2" type="hidden" name="donaldduck" value="a">
            <input id="accion" type="hidden" name="donaldduck" value="0">

            <div class="demo-container">

                dd






                <div id="gridContainer"></div>

                <div id="events">
                    <div>
                        <div class="caption">
                            Fired events
                        </div>
                        <div id="clear"></div>
                    </div>
                    <ul></ul>
                </div>
            </div>



        </form>


        <script type="text/javascript">





    $(function () {
        function logEvent(eventName) {
            var logList = $("#events ul"),
                newItem = $("<li>", { text: eventName });

            logList.prepend(newItem);
        }

        $("#gridContainer").dxDataGrid({
            dataSource: @Html.Raw(textoJason),
            keyExpr: "dni",
            showBorders: true,
            paging: {
                enabled: false
            },
            editing: {
                mode: "row",
                allowUpdating: true,
                allowDeleting: true,
                allowAdding: true
            },
            columns: [
                {
                    dataField: "dni",
                    caption: "Title"
                }, "dni",
                "plantaDesc", {
                    dataField: "plantaDesc",
                    width: 130
                },
            ],
            onEditingStart: function (e) {
                logEvent("EditingStart");

                document.getElementById("donaldduck").value = e.data.dni;
                document.getElementById("campo2").value = e.data.plantaDesc;
                document.getElementById("accion").value = "1";


                //          donaldduck.setAttribute("value", "666666");


                //document.getElementById("ninja").submit();

                var parametros = {
                    "donaldduck": $("#donaldduck").val(),
                    "campo2": $("#campo2").val(),
                    "accion": $("#accion").val()
                }


                $.ajax({
                    data: parametros,
                    url: "Index2",
                    type: "post",
                    success: function (response) {
                        //response contiene la respuesta al llamado de tu archivo
                        //aqui actualizas los valores de inmediato llamando a sus respectivas id.


                        var x = document.getElementById("gridContainer").value;


                    }
                })




            },
            onInitNewRow: function (e) {
                logEvent("InitNewRow");

                //llamo a otro vbhtml o el mismo con refresco. el anterior sin refresco
                //document.ninja.action = "index.vbhtml";
                document.getElementById("ninja").submit();



            },
            onRowInserting: function (e) {
                logEvent("RowInserting");
            },
            onRowInserted: function (e) {
                logEvent("RowInserted");
            },
            onRowUpdating: function (e) {
                logEvent("RowUpdating");
            },
            onRowUpdated: function (e) {
                logEvent("RowUpdated");
            },
            onRowRemoving: function (e) {
                logEvent("RowRemoving");
            },
            onRowRemoved: function (e) {
                logEvent("RowRemoved");
            }
        });


        $("#clear").dxButton({
            text: "Clear",
            onClick: function () {
                $("#events ul").empty();
            }
        });
    });




        </script>




        <style type="text/css">

            #events {
                background-color: rgba(191, 191, 191, 0.15);
                padding: 20px;
                margin-top: 20px;
            }


                #events > div {
                    padding-bottom: 5px;
                }


                    #events > div:after {
                        content: "";
                        display: table;
                        clear: both;
                    }


                #events #clear {
                    float: right;
                }


                #events .caption {
                    float: left;
                    font-weight: bold;
                    font-size: 115%;
                    line-height: 115%;
                    padding-top: 7px;
                }


                #events ul {
                    list-style: none;
                    max-height: 100px;
                    overflow: auto;
                    margin: 0;
                }


                    #events ul li {
                        padding: 7px 0;
                        border-bottom: 1px solid #dddddd;
                    }


                        #events ul li:last-child {
                            border-bottom: none;
                        }
        </style>

